---
import { Image } from "astro:assets";
import svgl from "../../public/svgl.png";
import stockin from "../../public/stockin.png";
import moviesfordevs from "../../public/moviesfordevs.png";
import tron from "../../public/tron.png";

interface Project {
  title: string;
  image: ImageMetadata;
  link: string;
  preview: string;
  status: string;
}

const projects: Project[] = [
  {
    title: "eBPF",
    image: moviesfordevs as ImageMetadata,
    link: "https://github.com/gothsec/MoviesForDevs",
    preview: "https://movies-for-devs.vercel.app",
    status: "eBPF Applied to IRIS Workloads",
  },
  {
    title: "OMOP Odyssey",
    image: stockin as ImageMetadata,
    link: "https://www.pidtoo.com",
    preview: "https://www.pidtoo.com",
    status: "Adventures with InterSystems OMOP",
  },
  {
    title: "IKO Plus +",
    image: svgl as ImageMetadata,
    link: "https://github.com/pheralb/svgl",
    preview: "https://svgl.app",
    status: "Charts for the InterSystmes Kubernetes Operator",
  },
  {
    title: "PID^TOO||",
    image: tron as ImageMetadata,
    link: "https://github.com/Gothsec/Tron-Legacy-web",
    preview: "https://tron-legacy-web.vercel.app/",
    status: "Identity Resolution on FHIR",
  },
];
---

<section
  id="projects"
  class="py-12 border-t border-[#ffffff10] text-[var(--white)]"
>
  <div class="max-w-5xl mx-auto">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Rabbit Holes</h2>
    <h3 class="text-3xl md:text-4xl font-semibold md:mb-6">Contributions</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {
        projects.map((project) => (
          <div class="group">
            <a
              href={project.preview}
              target="_blank"
              rel="noopener noreferrer"
              class="block"
            >
              <div class="rounded-2xl overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 mb-4">
                <Image
                  src={project.image}
                  alt={project.title}
                  class="w-full h-48 md:h-72 object-cover group-hover:scale-105 transition-transform duration-300"
                />
              </div>
              <div class="flex items-center px-3">
                <div class="flex-grow">
                  <h4 class="text-2xl font-semibold">{project.title}</h4>
                  <span class="py-1 text-sm text-[var(--white-icon)]">
                    {project.status}
                  </span>
                </div>
                <div class="flex gap-2 ml-auto">
                  <a
                    target="_blank"
                    href={project.link}
                    aria-label="GitHub"
                    class="size-14 flex justify-center items-center text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="size-7"
                    >
                      <path d="M24 12L18.3431 17.6569L16.9289 16.2426L21.1716 12L16.9289 7.75736L18.3431 6.34315L24 12ZM2.82843 12L7.07107 16.2426L5.65685 17.6569L0 12L5.65685 6.34315L7.07107 7.75736L2.82843 12ZM9.78845 21H7.66009L14.2116 3H16.3399L9.78845 21Z" />
                    </svg>
                  </a>
                  <a
                    target="_blank"
                    href={project.preview}
                    aria-label="Preview"
                    class="size-14 flex justify-center items-center text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="size-7"
                    >
                      <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" />
                    </svg>
                  </a>
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
    <a
      target="_blank"
      href="https://community.intersystems.com/user/sween"
      aria-label="GitHub"
      class="w-full flex items-center justify-center gap-2 mt-9 text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-[var(--white-icon-tr)] p-3 rounded-full bg-[#1414149c] hover:bg-[var(--white-icon-tr)] hover:scale-105"
    >
      <span class="md:text-lg text-md">More InterSystems Hacking on Developer Community</span>
<svg width="29px" height="29px" viewBox="0 0 29 29" version="1.1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <title>Product icon</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0 0.90625 7.25 0.90625 7.25 27.1875 0 27.1875"></polygon>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
        <g id="components/header-no-burger" transform="translate(-7.000000, -10.000000)">
            <g id="left" transform="translate(-1.000000, 4.000000)">
                <g id="logos/icon-HS" transform="translate(8.000000, 6.000000)">
                    <g id="Icon" stroke-width="1" fill="transparent">
                        <polygon id="Fill-1" points="0 29 29 29 29 0 0 0"></polygon>
                    </g>
                    <g id="Group-26" stroke-width="1" transform="translate(8.156250, 1.812500)">
                        <g id="Clip-25"></g>
                        <polygon id="Fill-24" fill="currentColor" points="3.625 2.6957654 0 0.90625 0 23.6084692 7.25 27.1875 7.25 23.1881793 3.625 21.3994848"></polygon>
                    </g>
                    <polygon id="Fill-27" fill="currentColor" points="15.40625 25.335428 19.03125 27.1875 19.03125 3.70074728 11.78125 0 11.78125 4.13637908 15.40625 5.98675272"></polygon>
                </g>
            </g>
        </g>
    </g>
</svg>
    </a>
  </div>
</section>
